p {
    Color:rgba(177, 145, 6, 0.795); 
}
hr {
    Color:rgba(177, 145, 6, 0.795); 
}
h1 {
    Color:rgba(177, 145, 6, 0.795); 
    font-family: "Trebuchet MS", sans-serif ;  
}
p.second {
    Color:rgba(194, 194, 194, 0.795) 
}
body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZOL3E2lis55kJJiYK0eCDjEK9WhoSLnWj9w&s");
    background-size:90%
  }
a.element {
    vertical-align: bottom;
    Color:rgba(255, 208, 0, 0.795); 
    text-size-adjust: 100%;
  }